extends loginLayout


		

block content

	title  Forgot Password
	div(class="container", id="first", style="opacity:.95;")
			script(type='text/javascript').
				var idData =!{JSON.stringify(id)}
			script(src="/javascripts/forgotPassword.js")
		div(class="container login-form" id="login_div")
			form(id='loginform' class="form-signin" style="opacity:0.95;")
				section
					h3.
						Enter and confirm your new password below.
					div.textbox
						label(for="newPassword" class="sr-only") New Password
						input(type="password",id='newPassword', class="form-control", placeholder='New Password',required, autofocus,data-trigger="manual", data-toggle='popover', data-content="You must enter a password.")
					div.tbox2
						label(for="inputPassword" class="sr-only") Password
						input(type="password", id='verifyNewPassword', class="form-control", placeholder='Verify New Password', require, autofocus, data-trigger="manual", data-toggle='popover', data-content="Please verify your password matches")
					div.loginbuttons
						button(id='resetPassword', class="btn btn-lg btn-primary btn-block", type="button") Reset Password
