doctype html
meta(charset="utf-8")

meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")


//- This is for setting up bootstrap dependcies in the layout, should not be changed
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
link(rel="stylesheet", href="/stylesheets/style.css")

script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")

//- This is generally for setting overarching layout
meta(name="description", content="")
meta(name="author", content="")
link(rel="icon", href="images/favicon-32x32.png", sizes="32x32", type="image/png")
link(rel="icon", href="images/favicon-16x16.png", sizes="16x16", type="image/png")



head

body
  block content
